<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/model_inference" method="post">
  <label for="product_description">Product description:</label><br>
  <input type="text" name="product_description" value=""><br>

  <label for="product_code">Product code:</label><br>
  <input type="text" name="product_code" value=""><br>

  <label for="product_category">Product category:</label><br>
  <input type="text" name="product_category" value=""><br>

  <input type="submit" value="Submit">
</form>

{% for msg in get_flashed_messages() %}
<div class='flash'>{{msg}}</div>
{% endfor %}

</body>
</html>